#### 1. Define a function named is_two. It should accept one input and return True if the passed input is either the number or the string 2, False otherwise.

In [2]:
#create function named is_two that takes in one parameter
def is_two(x):
    # if that parameter in interger type equals 2, return function as True
    if int(x) == 2:
        return True
    #return function as false
    return False

In [10]:
is_two('2')

True

#### 2. Define a function named is_vowel. It should return True if the passed string is a vowel, False otherwise.

In [3]:
#create function named is_vowel that takes in one parameter
def is_vowel(x):
    #create list of vowels to compare off of later
    vowels = ['a', 'e', 'i', 'o', 'u']
    #check if x is in vowels, consider case
    if x.lower() in vowels:
        #return function as True if x was in the vowels list
        return True
    #return function as False
    return False

In [6]:
is_vowel('b')

False

#### 3. Define a function named is_consonant. It should return True if the passed string is a consonant, False otherwise. Use your is_vowel function to accomplish this.

In [11]:
#create function named is_consonant that takes in one parameter
def is_consonant(x):
    #check if x in NOT in vowel list
    if is_vowel(x) == False:
        #return function as True if x was NOT in the vowels list
        return True
    #return function as False otherwise
    return False

In [13]:
is_consonant('a')

False

#### 4. Define a function that accepts a string that is a word. The function should capitalize the first letter of the word if the word starts with a consonant.

In [15]:
#create function named is_two that takes in one parameter
def cap(word):
    #check if first letter of the word is a consonant
    if is_consonant(word[0]):
        #create new string. First letter of string is capitalized then add the rest of the string as is.
        new_word = word[0].upper() + word[1:]
        #return the new word we just created
        return new_word
    #return original word if first letter is not a consonant
    return word

In [18]:
cap('word')

'Word'

#### 5. Define a function named calculate_tip. It should accept a tip percentage (a number between 0 and 1) and the bill total, and return the amount to tip.

In [27]:
#create function named calculate_tip that takes in two parameters
def calculate_tip(percent, total):
    #return the total times the percent, adjusted to be rounded to 2 decimals
    return round(float(total) * float(percent), 2)

In [30]:
calculate_tip(.10, 100.00)

10.0

#### 6. Define a function named apply_discount. It should accept a original price, and a discount percentage, and return the price after the discount is applied.

In [36]:
#assuming whole percent is being entered. ex: 10 for 10% off

#create function named apply_discount that takes in two parameters
def apply_discount (o_price, d_perc):
    #ensure the price and discount amounts are floats
    price = float(o_price)
    dis = float(d_perc)*.01
    #create new price that calculates the discount
    new_price = price - (price*dis)
    #return function with newly discounted price
    return new_price

In [37]:
apply_discount(10,30)

7.0

#### 7. Define a function named handle_commas. It should accept a string that is a number that contains commas in it as input, and return a number as output.

In [38]:
#assuming return number as string and not int

#create function named handle_commas that takes in one parameter
def handle_commas (num_str):
    #create what will be the returned string
    new_num = ''
    #for each letter in the string
    for spot in num_str:
        #if that letter is NOT a comma
        if spot != ',':
            #add letter to our new string that will be returned
            new_num += spot
    #return new string
    return new_num

In [41]:
handle_commas('1,2,3,45!')

'12345!'

#### 8. Define a function named get_letter_grade. It should accept a number and return the letter grade associated with that number (A-F).

In [45]:
#create function named get_letter_grade that takes in one parameter
def get_letter_grade(grade):
    #ensure it is an integer type
    grade = int(grade)
    #cycle through the grade scale options
    if grade >= 88:
        #return letter if in specific grade scale
        return 'A'
    elif grade >= 80:
        return 'B'
    elif grade >= 67:
        return 'C'
    elif grade >= 60:
        return 'D'
    else:
        return 'F'

In [46]:
get_letter_grade('54')

'F'

#### 9. Define a function named remove_vowels that accepts a string and returns a string with all the vowels removed.

In [50]:
#create function named remove_vowels that takes in one parameter
def remove_vowels(word):
    #create a list of vowels to check from
    vowels = ['a', 'e', 'i', 'o', 'u']
    #create new string that will be returned at the end
    new_word = ''
    #for each character in the string
    for spot in word:
        #check if the character is NOT in the vowels list, consider case
        if spot.lower() not in vowels:
            #if NOT a vowel, add that character to our new string
            new_word += spot
    #return new string
    return new_word

In [51]:
remove_vowels('abcDEfg')

'bcDfg'

#### 10. Define a function named normalize_name. It should accept a string and return a valid python identifier, that is:
##### - anything that is not a valid python identifier should be removed
##### - leading and trailing whitespace should be removed
##### - everything should be lowercase
##### - spaces should be replaced with underscores
##### - for example:
#####          Name will become name
#####          First Name will become first_name
#####          % Completed will become completed

In [120]:
# consonants function from above does not work since it only checks for NOT vowels. 

#create function named normalize_word that takes in one parameter
def normalize_name(word):
    #create new string that will be returned at the end
    new_word = ''
    #create list of characters that are consonants
    consonants = ['b', 'c', 'd', 'f', 'g', 'h', 'j', 'k', 'l', 'm', 'n', 'p', 'q', 'r', 's', 't', 'v', 'w', 'x', 'y', 'z']
    # for each character in the string
    for spot in word:
        # if that character is a space
        if spot == ' ':
            #add an underscore to our new string
            new_word += '_'
            #do not read any further loops, go back to start, do not pass go, do not collect $200
            continue
        # if the character is a vowel or a consonant, add that character to the new string
        if is_vowel(spot) == True or spot.lower() in consonants:
            new_word += spot
    #return new string    
    return new_word.lower()

In [121]:
normalize_name('Fir!?st Name!')

'first_name'

#### 11. Write a function named cumulative_sum that accepts a list of numbers and returns a list that is the cumulative sum of the numbers in the list.
##### cumulative_sum([1, 1, 1]) returns [1, 2, 3]
##### cumulative_sum([1, 2, 3, 4]) returns [1, 3, 6, 10]

In [88]:
#create function named cumulative_sum that takes in one parameter
def cumulative_sum(list):
    #create new list that will be returned later
    newl = []
    #set sum of list to 0
    sum = 0
    #for each spot in the list, starting at 0
    for spot in list:
        #add the value in that spot to the total sum of the list
        sum += spot
        #add that sum to the end of the new list
        newl.append(sum)
    #return the new list
    return newl

In [89]:
cumulative_sum([1,2,3,4])

[1, 3, 6, 10]

## BONUS

#### Create a function named twelveto24. It should accept a string in the format 10:45am or 4:30pm and return a string that is the representation of the time in a 24-hour format. Bonus write a function that does the opposite.

In [92]:
#create function named twelveto24 that takes in one parameter
def twelveto24(time):
    #create new string that will be returned later
    new_time = ''
    #create boolean to differentiate am and pm
    add_12 = False
    #for each character in the given time string
    for spot in time:
        #if that character is a colon
        if spot == ':':
            #skip it
            continue
        #if not a colon, add to our new string
        new_time += spot
    #check if the second to last character is a p (as in pm)
    if new_time[-2] == 'p':
        #change boolean to true so we can go back later and add 12 hours
        add_12 = True
    #remove the am or pm from our new string and make it an integer
    new_time = int(new_time[:-2])
    #add 12 hours if our time started as a pm value
    if add_12 == True:
        new_time += 1200
    #return our newly formatted time
    return new_time

In [95]:
twelveto24('2:35am')

235

In [109]:
def twentyfourtotwelve(time):
    pm = False
    if time >= 1300:
        pm = True
    if pm == True:
        time -= 1200
    time = str(time)
    if len(time) == 4:
        time = time[:2] + ':' + time[2:]
    else:
        time = time[:1] + ':' + time[1:]
    if pm == True:
        time += 'pm'
    if pm == False:
        time += 'am'
    return time

In [114]:
twentyfourtotwelve(753)

'7:53am'

#### Create a function named col_index. It should accept a spreadsheet column name, and return the index number of the column.
##### col_index('A') returns 1
##### col_index('B') returns 2
##### col_index('AA') returns 27

In [192]:
# assuming standard excel naming of columns

#create function named twelveto24 that takes in one parameter
def col_index(name):
    #define options in order
    alpha = 'abcdefghijklmnopqrstuvwxyz'
    #create variable to keep track of position of index
    sum = 0
    #transform input to match case
    nname = name.lower()
    #track length of column name that can be incremented down later
    length = len(name)
    
    #while there are characters left
    while length > 0:
        #if there is more than one character left
        if len(name) - length > 0:
            #find the index in alpha and account for quantity that goes into each decimal space
            #ex: first A in AAA will have 26 letters come before it. Second A in AAA will have 26^2 letters come before it
            #THIS CREATES 1 OFF ERROR EACH ROUND
            sum += (alpha.index(nname[length-1]) + 1) * 26 ** (len(name) - length)
            #increment length down
            length -= 1
            continue
        #This creates 1 off error
        sum += (alpha.index(nname[length-1]) + 1)
        length -= 1
    #return final sum and correct 1 off error for every character that was input
    return sum + length

In [191]:
col_index('AAC')

3
29
705

705